
.encabezado{
  background: #2c3e50;
  color:  #fff;

}

#pantalla{
  color:red;
}


input, label {
  font-family: sans-serif;


}

#Datos label{

  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10%;

	
}

input[type=sumit]{
 color:white;
}

input[type=text], input[type=password] {
  margin-bottom: 10px;
 
  
}

.etiquetas{
	  background-color: #800000;
    border-radius: 50px;
    opacity: 0.99;	
    color: white;
 }

.btn-mio{
	background-color: #800000;

}

.jumbo {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: #800000;
  background-color: #800000;
}

.formulario {
  
    background-color: #fff;
    border-top: 5px solid #800000;
    border-bottom: 5px solid #800000;
    border-left: 5px solid #800000;
    border-right: 5px solid #800000;
    margin: 5% 0% 5% 0%;
   
}